@model Models.Product

@{
    ViewBag.Title = "Create Product";
}

<h2 class="mb-3">Create Product</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="card shadow-sm p-4">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDescription, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.ProductDescription, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductCategory, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProductCategory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductCategory, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductRating, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProductRating, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.1", min = "0", max = "5" } })
                    @Html.ValidationMessageFor(model => model.ProductRating, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPrice, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                    @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductAvailableQuantity, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProductAvailableQuantity, new { htmlAttributes = new { @class = "form-control", type = "number", min = "0" } })
                    @Html.ValidationMessageFor(model => model.ProductAvailableQuantity, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDiscount, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProductDiscount, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01", min = "0", max = "100" } })
                    @Html.ValidationMessageFor(model => model.ProductDiscount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
